@model AgendaTelefonica.Models.Telefono

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-light">Eliminar Teléfono</h1>

<h3 class="text-light">Confirma la eliminación a continuación</h3>
<div>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.IdTelefono)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.IdTelefono)
        </dd>
        <dt class="col-sm-2 text-light">
            Contacto
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DropDownList("IdContacto", (IEnumerable<SelectListItem>)ViewBag.IdContacto, new { @disabled = "disabled", @class = "form-control w-25" })
        </dd>
        <dt class="col-sm-2 text-light">
            Empresa
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DropDownList("IdCompania", (IEnumerable<SelectListItem>)ViewBag.IdCompania, new { @disabled = "disabled", @class = "form-control w-25" })
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.CodigoArea)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.CodigoArea)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTelefono" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
