@model AgendaTelefonica.Models.Telefono

@{
    ViewData["Title"] = "Ver Teléfono";
}

<h1 class="text-light">Ver Teléfono</h1>

<div>
    <h4 class="text-light">Teléfono</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.IdTelefono)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.IdTelefono)
        </dd>
        <dt class="col-sm-2 text-light">
            Contacto
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DropDownList("IdContacto", (IEnumerable<SelectListItem>)ViewBag.IdContacto, new { @disabled = "disabled", @class = "form-control w-25" })
        </dd>
        <dt class="col-sm-2 text-light">
            Empresa
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DropDownList("IdCompania", (IEnumerable<SelectListItem>)ViewBag.IdCompania, new { @disabled = "disabled", @class = "form-control w-25" })
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.CodigoArea)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.CodigoArea)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdTelefono">Modificar</a>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>
